.navbar {
  width: 100%;
  padding: 20px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 100;
}

.logo h1 {
  font-size: 24px;
  margin-left: 20px;
}

.nav-links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav-links .signup-btn {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-element {
  color: #f4f4f4;
  text-decoration: none;
  padding: 0 20px;
}

.active {
  color: #ff6600;
}

.nav-links .signup-btn:hover {
  background-color: #ff4500;
}
